<ion-view hide-nav-bar="true" cache-view="false">
  <ion-content class="stable-bg">
    <div ng-if="$root.isLogin">
        <img ng-src="img/account_bg.jpg" width="100%" >
        <!--<div style="position: absolute; bottom: 20px;width: 100%;">-->
            <!--<button class="button button-energized" style="margin-left:33%; margin-right: 33%;width: 33%">登录/注册</button>-->
        <!--</div>-->

        <div class="item row text_center account" style="bottom: 5px;">
            <div class="col-25">
                <img  ng-src="{{userInfo.image_name}}">
            </div>

            <div class="col-75" >
                <div class="row">
                    <p style="font-size: 16px;font-weight: bold; padding-left: 10%;color: #007aff">{{userInfo.phone}}  vip1</p>
                </div>
                <div class="row" style="padding-bottom: 0; padding-left: 0;padding-right: 0;">
                    <div class="col no_padding">
                        <p>{{userInfo.trade_num}}</p>
                        <p>交易数</p>
                    </div>
                    <div style="height:30px; width:1px; border-left:1px #DDDDDD solid; border-radius: 50%;margin-top: 8px;"></div>
                    <div class="col no_padding">
                        <p>{{userInfo.credit_score}}</p>
                        <P>信用积分</P>
                    </div>

                    <div style="height:30px; width:1px; border-left:1px #DDDDDD solid; border-radius: 50%;margin-top: 8px;"></div>
                    <div class="col no_padding">
                        <!--<p>3</p>-->
                        <i class="icon ion-ios-star energized" ng-repeat="item in $root.range(userInfo.credit_level) track by $index"></i>
                        <p style="margin-top: 2px;">信用等级</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="card no_left_right_margin">

            <!--包含用户名，积分、订单数，诚信等级、vip等级等，同时包含会员充值接口等,-->
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-person energized"></i>
                <i class="accout_title">会员信息</i>
                <i class="accout_title_detail">新会员充一送一，赶快行动吧</i>
                <i class="icon ion-ios-arrow-forward" style="color: #aaaaaa; font-size: 24px;"></i>
            </a>

            <!-- 对于未进行实名认证用户，提醒其进行认证，对于已认证的用户提供实名信息的查看，并包含对于银行卡的管理-->
            <!-- 认证通过，管理银行卡-->
            <a class="item item-icon-left item-icon-right" href="#/certification">
                <i class="icon ion-card royal"></i>
                <i class="accout_title">实名认证</i>
                <i class="accout_title_detail" style="color: #ef473a">您暂未进行实名认证</i>
                <i class="icon ion-ios-arrow-forward" style="color: #aaaaaa; font-size: 24px;"></i>
            </a>


        </div>

        <div class="card no_left_right_margin">

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-clipboard positive"></i>
                <i class="accout_title">全部交易</i>
                <i class="accout_title_detail">查看全部交易信息</i>
                <i class="icon ion-ios-arrow-forward" style="color: #aaaaaa; font-size: 24px;"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-ios-pricetags-outline calm"></i>
                <i class="accout_title">我的挂单</i>
                <i class="accout_title_detail">管理您所有的挂单</i>
                <i class="icon ion-ios-arrow-forward" style="color: #aaaaaa; font-size: 24px;"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-ios-star-half assertive"></i>
                <i class="accout_title">我的收藏</i>
                <i class="accout_title_detail">所有收藏的商铺和挂单</i>
                <i class="icon ion-ios-arrow-forward" style="color: #aaaaaa; font-size: 24px;"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-android-cart positive"></i>
                <i class="accout_title">我的商铺</i>
                <i class="accout_title_detail">商铺管理，轻松赚钱</i>
                <i class="icon ion-ios-arrow-forward" style="color: #aaaaaa; font-size: 24px;"></i>
            </a>

        </div>


        <div class="card no_left_right_margin">

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-android-happy balanced"></i>
                <i class="accout_title">建议与反馈</i>
                <i class="accout_title_detail">感谢您的每一份建议</i>
                <i class="icon ion-ios-arrow-forward" style="color: #aaaaaa; font-size: 24px;"></i>
            </a>

            <a class="item item-icon-left" ng-click="onLogout()">
                <i class="icon ion-android-exit assertive"></i>
                <i class="accout_title">退出登录</i>
            </a>
        </div>
    </div>
  </ion-content>
</ion-view>
