/*****
  功能： 定义字体和文本相关的css风格，包括字体选择，加粗，斜体，字体大小等

*/


/*定义文字居中*/
.text_center{
    text-align: center;

}
/*定义字体加粗*/
.text_bold{
    font-weight:bold;
}
/* 链接菜单中的图标大小
注： 所有的icon 大小都可以通过font-size来调整，因为图标基于font构建
*/
.icon_link{
    font-size: 35px;
}
/*
col中p标签下的文字大小以及颜色
*/
.col p{
    font-size: 14px;
    color: #666666;
}
/*专区中各个版面主题的格式设置*/
.topic{
    font-size: 14px;
}

.font_big_weight{
    font-size: 14px;
    font-weight: bold;
}
/*所有提示文字的格式设置*/
.tip{
    font-size: 12px;
    color: #888888;
}
/*个人账户中标题的设置*/
.accout_title{
    font-weight: bold;
    color: #333333;
}

/*个人账户中标题对应的说明*/
.accout_title_detail{
    font-size: 12px;
    color: #aaaaaa;
    position: absolute;
    right: 40px;
}

.accout_title_icon{
    color: #aaaaaa;
}

.shop-collect .bar .button.button-icon:before, .bar .button .icon:before, .bar .button.icon:before, .bar .button.icon-left:before, .bar .button.icon-right:before{
    font-size: 24px;
}

