/*****
  功能： 定义字体和文本相关的css风格，包括字体选择，加粗，斜体，字体大小等

*/


/*定义文字居中*/
.text_center{
    text-align: center;

}
/*定义字体加粗*/
.text_bold{
    font-weight:bold;
}
/* 链接菜单中的图标大小
注： 所有的icon 大小都可以通过font-size来调整，因为图标基于font构建
*/
.icon_link{
    font-size: 35px;
}
/*
col中p标签下的文字大小以及颜色
*/
.col p{
    font-size: 12px;
    color: #888888;
}

.topic{
    font-size: 14px;
}
