/* 自定义的css样式  */

/*调整输入框的位置*/
.input_search{
    margin-top: 7px;
    padding: 0;
}
/*调整信息按钮的垂直坐标*/
.msg_button{
    bottom: 3px;
}
/*定义外边距从而缩小边框范围*/
.button_margin{
    margin: 2px;
}

/*定义广告和活动栏位的图片大小*/
ion-slide img{
    width: 100%;
}
/*无左右外边距*/
.no_left_right_margin{
    margin-left: 0;
    margin-right: 0;
}
/*定义无边框效果*/
.no_border{
    border: 0;
}

/*定义无边框效果*/
.no_padding{
    padding: 0;
}
/*消除滑动条的显示*/
.scroll-bar-indicator
{
    display: none;
}

.item-select select
{
    font-weight:bold;
    color: #387ef5;
}

/*用于性别选择框的css位置调整*/
.sexSelect:after{
    position: relative;
}
.sexSelect select{
    padding-right: 32px;
    padding-left: 10px;
}

.account img{
    width: 70%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

